@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --qara-reng: #222;
    --ag-reng: #fff;
    --spandaki-reng:#FF8A56;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 42px 112.5px 16.7px;
    align-items: center;
}
body {
    font-family: 'Roboto', sans-serif;
}
.nav-sag a {
    color: #000000;
    padding-right: 20px;
}
.fa-bars {
    display: none;
}
 /* Media Query */
 @media(max-width:991px){
.header {
    padding-left: 40px;
    padding-right: 40px;
}
 }
@media(max-width:768px){
    .header{
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav-sag {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 20px;
        cursor: pointer;
        padding: 4px;
    }
 }
 @media(max-width:576px){
    .header {
        padding-left: 20px;
        padding-right: 20px;
        }
    }
 /* intro hissesi */
 .intro {
    display: flex;
    justify-content: space-between;
    padding-left: 112.5px;
    padding-right: 112.5px;
 }
 .intro-sol {
    padding-top: 117px;
 }
 .intro-sag {
    padding-top: 70px;
 }
.intro h1 {
    font-size: 4.5rem;
    line-height: 82px;
    letter-spacing: 2px;
    font-weight: 700;
 }
.intro h1 span {
    color: var(--spandaki-reng);
 }
 .intro p {
    margin-top: 30px;
    margin-bottom: 24px;
    color: #666666;
    font-size: 18px;
    letter-spacing: 1px;
 }
.intro-sol button {
    background-color: var(--qara-reng);
    color: var(--ag-reng);
    border: 1px solid ;
    width: 151px;
    height: 58px;
}
.intro-sag img {
    width: 100%;
}
.intro-sol a {
padding-left: 20px;
}

/* media intro  */
@media(min-width:1400px) {

}
@media(max-width:1330px) {
    .intro {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:1225px) {
    .intro {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media(max-width:1165px){
    .intro {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-wdith:1145px) {
    .intro .intro-sol h1 {
        font-size: 42px;
    }
}
@media
/* media intro qurtardi */